<div class="jumbotron text-center">
    <h1><span class="fa fa-desktop"></span> The MEAN Screen</h1>

    <p>Login or Register with:</p>

    <a href="#/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
    <a href="#/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
    <a href="/auth/facebook"><button  class="btn btn-primary">
      <span class="fa fa-facebook"> Facebook</span>
    </button></a>
    <a href="/auth/google"><button class="btn btn-danger">
      <span class="fa fa-google"> Google</span>
    </button></a>
</div>
